.nav{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    font-family: "Nunito Sans", sans-serif;
    box-shadow: 0 0 10px black;
    padding: 10px;
    display: flex;
   
    
}
.nav a{
    text-decoration: none;
    color:#E74292;
    font-size: 30px;
    

}

.admin {
    margin-left:auto;
   
}

